[submodule "makeise"]
	path = makeise
	url = https://github.com/colinoflynn/makeise
[submodule "ExampleProject/firmware-general"]
	path = ExampleProject/firmware-general
	url = https://github.com/PsiStarPsi/firmware-general
