NET gtTxP     LOC = B6;
NET gtTxN     LOC = A6;
NET gtRxP     LOC = D7;
NET gtRxN     LOC = C7;
NET gtClkP    LOC = B10;
NET gtClkN    LOC = A10;
NET fabClkP   LOC = U25;
NET fabClkN   LOC = U26;
NET txDisable LOC = E10  | IOSTANDARD = LVCMOS33;
NET led<0>    LOC = F18  | IOSTANDARD = LVCMOS33;
NET led<1>    LOC = E18  | IOSTANDARD = LVCMOS33;
NET led<2>    LOC = G16  | IOSTANDARD = LVCMOS33;
NET led<3>    LOC = F17  | IOSTANDARD = LVCMOS33;
NET led<4>    LOC = F20  | IOSTANDARD = LVCMOS33;
NET led<5>    LOC = E20  | IOSTANDARD = LVCMOS33;
NET led<6>    LOC = H17  | IOSTANDARD = LVCMOS33;
NET led<7>    LOC = G17  | IOSTANDARD = LVCMOS33;
NET led<8>    LOC = C21  | IOSTANDARD = LVCMOS33;
NET led<9>    LOC = B21  | IOSTANDARD = LVCMOS33;
NET led<10>   LOC = H18  | IOSTANDARD = LVCMOS33;
NET led<11>   LOC = H19  | IOSTANDARD = LVCMOS33;
NET led<12>   LOC = B22  | IOSTANDARD = LVCMOS33;
NET led<13>   LOC = A22  | IOSTANDARD = LVCMOS33;
NET led<14>   LOC = G19  | IOSTANDARD = LVCMOS33;
NET led<15>   LOC = F19  | IOSTANDARD = LVCMOS33;

NET "fabClk" TNM_NET="fabClk"; 
TIMESPEC "TS_fabClk"=PERIOD "fabClk" 4 ns HIGH 50 %; 
NET "U_S6EthTop/U_GtpS6/usrClkSource" TNM_NET="U_GtpS6/usrClkSource";
TIMESPEC "TS_usrClkSource"=PERIOD "U_GtpS6/usrClkSource" 8 ns HIGH 50 %;